
.sizer{
  height: 70vh;
}
.preview{
  width: 100%;
  border-radius: 10px;
}
.box{
    background-color: rgb(18, 17, 17);
    border-radius: 5px;
    width: 75%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 2%;
  }
  .box hr{
    border: 2px solid #873260;
    border-radius: 5px;
  }
  .description:hover{
    opacity: 1;
    cursor: pointer;
  }
  
