
.sizer{
  height: 70vh;
}
.preview{
  width: 100%;
  border-radius: 10px;
}
.box{
    background-color: rgb(18, 17, 17);
    border-radius: 5px;
    width: 75%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 2%;
  }
  .box hr{
    border: 2px solid #873260;
    border-radius: 5px;
  }
  .description:hover{
    opacity: 1;
    cursor: pointer;
  }

  .accordion {
    width: 75%;
  }

  .item{
    margin-bottom: 5px;
    padding: 10px 20px;
  }

  .title{
    color: darkgray;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .content{
    color: #873260;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
  }
  .content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
  }
  
