.Footer{
    background-color: #17181a;
    color: #ffffff;
    padding: 20px;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin-top: 5%;
  }

.Icon{
  font-size: 1.8rem;
  margin-left: 25px;
  margin-right: 25px;
}

.Link{
  color: white;
}

.Link:hover{
  color: #873260;
  transition-duration: 0.5s;
}